@model IEnumerable<CHOM.Data.BoSuuTam>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Danh sách bộ sưu tập";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
    var listMenu = (IEnumerable<CHOM.Data.MucLuc>)ViewBag.ListMenu;
    var paginations = (IPagedList)ViewData["Pagination"];
}
@section js{
    <script type="text/javascript" src="~/Admin/js/Gallery/Home.js"></script>
}
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid product-wrapper card">
                <div class="product-grid">
                    <div class="product-wrapper-grid">
                        <div class="row">
                            <div class="card-header pb-0">
                                <h5></h5>
                                <a href="/Admin/Gallery/Create" class="btn btn-success btn-sm">Tạo bộ sưu tập</a>
                            </div>
                                <div class="margin-list row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 btn-@item.ID">
                                            <div class="card">
                                                <div class="product-box">
                                                    <div class="product-img">
                                                        <img class="img-fluid" src="~/imageGallery/@item.HinhAnh" alt="">
                                                        <div class="product-hover">
                                                            <ul>
                                                                <li><a href="/Admin/Gallery/Edit/@item.ID"><i class="fa-solid fa-pen cl-pen"></i></a></li>
                                                                <li><a data-bs-toggle="modal" class="btn-delete" data-id="@item.ID" data-original-title="test" data-bs-target="#exampleModal"><i class="fa-solid fa-trash cl-trash"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                        </div>
                    </div>
                    <div class="page-bottom b-r-0">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="info-block">
                                    @if (paginations != null)
                                    {
                                        @Html.PagedListPager(paginations, page => Url.Action("Gallery","Admin",new {page=page}),new PagedListRenderOptions{
                                        DisplayLinkToIndividualPages = true,
                                        DisplayPageCountAndCurrentLocation = false,
                                        MaximumPageNumbersToDisplay  = 5,
                                        LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" },

                                    })
                                    }
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6 text-end">
                                @if (paginations != null)
                                {
                                    <div class="pagination-content"><span class="f-w-600">Hiện @paginations.FirstItemOnPage - @paginations.LastItemOnPage trong @paginations.TotalItemCount kết quả</span></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa hình ảnh</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Bạn có muốn xóa hình ảnh này này?</div>
            <div class="modal-footer">
                <button class="btn btn-back-hover" type="button" data-bs-dismiss="modal">Quay lại</button>
                <button class="btn btn-danger btn-success-delete" type="button">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

