@model CHOM.Data.PhanHoi
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var count = 0;
    var contact = (CHOM.Data.Contact)ViewBag.Contact;
    var lienHe = (IEnumerable<CHOM.Data.LienHe>)ViewBag.LienHe;
}
@section css{
    <link href="~/Client/dict/css/style.css" rel="stylesheet" />
    <link href="~/Client/dict/css/style-gallery.css" rel="stylesheet" />
    <link href="~/Client/dict/css/font-awesome.min.css" rel="stylesheet" />
}
@section js{
    <script>
        const phonenumber = document.getElementById("phonenumber").innerHTML;
        const begin = phonenumber.substring(0, 4);
        const middle = phonenumber.substring(4, 7);
        const end = phonenumber.substring(phonenumber.length - 3);
        document.getElementById("phonenumber").innerHTML = begin + " " + middle + " " + end;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
}
<!-- Content Scroll -->
<div id="content-scroll" @(ViewBag.LoaiPage= 1)>


    <!-- Main -->
    <div id="main" class="main-contact">

        <div class="container text-center info-content">
            <div class="about-content">
                <div class="col-12">
                    <h2 style="font-weight: normal; margin-bottom: 0;">Về chúng tôi</h2>
                </div>
            </div>
            <div class="about-content">
                <div class="col-lg-6 form-contact">
                    <div class="scrollbar" id="style-4">
                        <div class="force-overflow">
                            <div>
                                <img class="image-member" src="~/contact/@contact.HinhAnh" alt="member">
                            </div>
                            <div class="content-row light-section" data-bgcolor="#fafafa">

                                <dl class="accordion has-animation">

                                    <dt class="accordion-active">
                                        <span class="name-member"><span class="line-title"></span> @contact.Ten</span>
                                    </dt>
                                    <dd class="accordion-content">
                                        @Html.Raw(contact.GioiThieu)
                                    </dd>

                                </dl>
                                <dl class="accordion has-animation">

                                    <dt class="accordion-active">
                                        <span class="name-info">
                                            <span class="line-title"></span>Cột mốc<span class="line-title"></span>
                                        </span>
                                    </dt>
                                    <dd class="accordion-content">
                                        @Html.Raw(contact.CotMoc)
                                    </dd>

                                </dl>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 form-contact">
                    <form method="post" action="/Contact" id="contactform">
                        @if(ViewBag.Message != null)
                        {
                            <div class="alert alert-danger mt-3">@ViewBag.Message</div>
                        }
                        @if(ViewBag.Success != null)
                        {
                            <div class="alert alert-success mt-3">@ViewBag.Success</div>
                        }
                        <div class=" has-animation" data-delay="100">
                            <input asp-for="Ten" type="text" id="name" size="30" value="" placeholder="Tên của bạn">
                            <label class="input_label"></label>
                            <span asp-validation-for="Ten" class="text-danger"></span>

                        </div>
                        <div class="message-box has-animation" data-delay="150">
                            <input asp-for="Email" type="text" id="email" size="30" value="" placeholder="Email của bạn"><label class="input_label"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="message-box has-animation" data-delay="100">
                            <input asp-for="SDT" type="text" id="phone" size="30" value="" placeholder="SDT của bạn">
                            <label class="input_label"></label>
                            <span asp-validation-for="SDT" class="text-danger"></span>

                        </div>
                        <div class="message-box has-animation" data-delay="150" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <select class="select-form" asp-for="YeuCau" id="cars">
                                <option value="1">Kiến trúc cảnh quan</option>
                                <option value="2">Kiến trúc nội thất</option>
                                <option value="3">Kiến trúc thiết kế</option>
                            </select>
                        </div>
                        <div class="message-box has-animation" data-delay="100">
                            <textarea asp-for="NoiDung" cols="40" rows="4" id="comments" placeholder="Nội dung"></textarea><label class="input_label slow"></label>
                        </div>
                        <div class="button-box has-animation hide-ball" data-delay="100">
                            <div class="clapat-button-wrap parallax-wrap">
                                <div class="clapat-button parallax-element">
                                    <div class="button-border rounded" data-btncolor="#2b2a35" data-btntextcolor="#fff"><input type="submit" class="send_message" id="submit" value="Gửi" /></div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="footer-info">
                <img class="logo-footer" src="~/Client/dict/images/logo.svg" alt="logo">
                @foreach (var item in lienHe)
                {
                    if (item.ID == 5)
                    {
                        var link = "mailto:" + item.Ten;
                        <br />
                        <a class="text-center" href="@link"><span class="info-title"> @item.PhuongThuc: </span>@item.Ten</a>
                    }
                    if (item.ID == 4)
                    {
                        var link = "tel:" + item.Ten;
                        <br />
                        <a class="text-center" href="@link"> <span class="info-title"> @item.PhuongThuc: </span><span id="phonenumber">@item.Ten</span></a>
                    }
                    if (item.ID == 3)
                    {
                        <br />
                        <a class="text-center" href="javascript:void(0)"><span class="info-title"> @item.PhuongThuc: </span>@item.Ten</a>
                    }
                }
                <br>

            </div>
        </div>
    </div>
    <!--/Main -->


</div>
<!--/Content Scroll -->
