@model IEnumerable<CHOM.Data.HinhAnh>
@{
    ViewData["Title"] = "Landscape";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var count = 0;
    var countItem = 0;
    var Next = (CHOM.Data.DuAn)ViewBag.Next;
    var Prev = (CHOM.Data.DuAn)ViewBag.Prev;
}
@section css{
    <link href="~/Client/dict/css/style.css" rel="stylesheet" />
    <link href="~/Client/dict/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    
}
@section js{

}
<!-- Main -->
<div id="content-scroll">
    <div id="main">

        <!-- Main Content -->
        <div id="main-content" style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
            <!-- Showcase Slider Holder -->
            <div id="showcase-slider-holder" data-pattern-img=" ">
                <div id="showcase-slider" class="swiper-container">
                    <div id="trigger-slides" class="swiper-wrapper">
                        @foreach (var item in Model)
                        {
                            if (count == 0)
                            {
                                <div class="swiper-slide text-shadow" data-title="@ViewBag.TuaDe" data-subtitle="">
                                    <div class="slide-wrap active" data-slide="0" ></div>

                                </div>
                            }
                            else
                            {
                                <div class="swiper-slide text-shadow" data-title="" data-subtitle="">
                                    <div class="slide-wrap" data-slide="@count"></div>

                                </div>
                            }
                            count = count + 1;

                        }
                    </div>
                </div>
            </div>
            <div class="box-left"></div>

            <!-- Showcase Borders -->
            <div id="fixed-borders">
                <div class="caption-border left"></div>
                <div class="caption-border right"></div>
            </div>
            <div id="canvas-slider" class="canvas-slider">
                @foreach (var item in Model)
                {
                    <div class="slider-img" data-slide="@countItem">
                        <img class="slide-img"
                         src="/fileImages/@item.FileName" alt="Image Title" />
                    </div>
                    countItem = countItem + 1;
                }
            </div>
            <!--/canvas slider -->
            <!-- Showcase Pagination -->
            <div class="showcase-pagination-wrap">
                <div class="showcase-pagination"></div>
            </div>
        </div>
        <!--/Main Content -->

    </div>
    <!--/Main -->
    <footer class="hidden">
        <div id="footer-container">
            <div class="box-pagination-project">
                <a class="button-prev-project button-wrap text-shadow" href="/Watch/Landscape/@Prev.ID" data-type="page-transition" >
                    <div class="button-icon parallax-element" style="width: auto">
                        <i class="fa fa-angle-left"style="color: #FFFFFF"></i>
                    </div>
                    <div class="button-text" style="color: #FFFFFF">@Prev.TuaDe</div>
                </a>
                <div class="index-project text-shadow" style="color: #FFFFFF">
                    <div id="display">
                        @ViewBag.MIN
                    </div>
                    <div class="line-index-project"></div>
                    <div data-id="@Model.Count()">
                        @ViewBag.MAX
                    </div>
                </div>
                <a class="button-next-project button-wrap text-shadow" href="/Watch/Landscape/@Next.ID" data-type="page-transition">
                    <div class="button-text" style="color: #FFFFFF">@Next.TuaDe</div>
                    <div class="button-icon parallax-element" style="width: auto; ">
                        <i class="fa fa-angle-right" style="color: #FFFFFF"></i>
                    </div>
                </a>
            </div>
 

        </div>
    </footer>
    <!--/Footer -->


</div>
