@model IEnumerable<CHOM.Data.DUAN>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TUADE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HINHGT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOIDUNG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TUADE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HINHGT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOIDUNG)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
