@model CHOM.Data.DuAn

@{
    ViewData["Title"] = "Chỉnh sửa dự án";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
    var listImage = (IEnumerable<CHOM.Models.ImageModel>)ViewBag.ListImage;
}
@section js{
    <script src="~/Admin/js/Project/Edit.js" type="text/javascript"></script>
}
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>@ViewBag.Title</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="date-picker">
                                    <form action="/Admin/Project/Edit" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-danger">@ViewBag.Message</div>
                                        }
                                        <input asp-for="ID" type="hidden" />
                                        <input asp-for="HinhGT" type="hidden" />
                                        <div class="form-group">
                                            <label asp-for="TuaDe" class="control-label"></label>
                                            <input asp-for="TuaDe" class="form-control" />
                                            <span asp-validation-for="TuaDe" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Nam" class="control-label"></label>
                                            <input asp-for="Nam" class="form-control txt-validation-year" />
                                            <span asp-validation-for="Nam" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IDMucLuc" class="control-label"></label>
                                            <select asp-items="@ViewBag.ListMenu" asp-for="IDMucLuc" class="form-control"></select>
                                            <span asp-validation-for="IDMucLuc" class="text-danger"></span>
                                        </div>
                                        <div class="form-group d-flex flex-column">
                                            <label>Hình ảnh giới thiệu (Vui lòng chỉ up 1 hình ảnh và dung lượng dưới 1MB)</label>
                                            <div class="alert alert-danger txt-notification-gt" style="display: none"></div>
                                            <div class="d-flex">
                                                <label class="btn btn-primary w-25">
                                                    Chọn ảnh&hellip;<input name="singleFile" class="img-gt form-control" style="display: none" type="file" />
                                                </label>
                                                <div class="spinner-border text-primary spinner-input spinner-single" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>                                            <img class="uploadSingleFile mt-3 img-uploadFile" src="/uploadFiles/@Model.HinhGT" />
                                        </div>
                                        <div class="form-group mt-2 d-flex flex-column">
                                            <label>Thay đổi danh sách hình ảnh (Bạn có thể up nhiều hình ảnh nhưng dung lượng mỗi hình dưới 1MB)</label>
                                            <div class="alert alert-danger txt-validation" style="display: none;"></div>
                                            <div class="d-flex">
                                                <label class="btn btn-primary w-25">
                                                    Chọn ảnh&hellip;<input class="uploadMultiple form-control" multiple style="display: none" type="file" />
                                                </label>
                                                <div class="spinner-border text-primary spinner-input spinner-multiple" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>                                            <div class="row list-multifile">
                                                @foreach(var item in listImage)
                                                {
                                                    <div class="col-xl-3 col-lg-4 col-sm-6 @item.id">
                                                        <div class="product-box">
                                                            <div class="product-img">
                                                                <img class="img-fluid" src="~/fileImages/@item.image" data-img="@item.image" alt="">
                                                                <div class="product-hover">
                                                                    <ul>
                                                                        <li data-img="@item.image" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal" data-id="@item.id" class="data-first"><a class="btn-delete"><i class="fa-solid fa-trash cl-trash"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group btn-event mt-5">
                                            <a class="btn btn-back-hover" href="/Admin/Project">Quay về</a>
                                            <input type="submit" role="button" value="Chỉnh sửa" class="btn cl-btn cl-btn-edit" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa hình ảnh</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Bạn có muốn xóa hình ảnh này?</div>
            <div class="modal-footer">
                <button class="btn btn-back-hover" type="button" data-bs-dismiss="modal">Quay lại</button>
                <button class="btn btn-danger btn-success-delete" type="button">Đồng ý</button>
            </div>
        </div>
    </div>
</div>