@model IEnumerable<CHOM.Data.DuAn>
@{
    ViewData["Title"] = "Danh sách dự án";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
    var listMenu = (IEnumerable<CHOM.Data.MucLuc>)ViewBag.ListMenu;
    var listHinhAnh = (IEnumerable<CHOM.Data.HinhAnh>)ViewBag.ListHinhAnh;
}

@section js{
    <script src="~/Admin/dict/js/scrollbar/simplebar.js"></script>
    <script src="~/Admin/dict/js/scrollbar/custom.js"></script>
    <script src="~/Admin/dict/js/sidebar-menu.js"></script>
    <script type="text/javascript" src="~/Admin/js/Project/Home.js"></script>
    <script type="text/javascript">
        $('.dataTables_length').css('display','none');
    </script>
}
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <!-- Feature Unable /Disable Order Starts-->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h5>@ViewBag.Title</h5>
                                <a href="/Admin/Project/Create" class="btn btn-success btn-sm">Tạo dự án</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="basic-2">
                                        <thead>
                                            <tr>
                                                <th>Hình giới thiệu</th>
                                                <th>Tên dự án</th>
                                                <th>Năm</th>
                                                <th>Mục lục</th>
                                                <th>Tổng hình ảnh chi tiết</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                @foreach (var item in Model)
                                                {
                                                    <tr class="btn-@item.ID">
                                                        <td>
                                                            <a href="/Admin/Project/Edit/@item.ID"> <img src="/uploadFiles/@item.HinhGT" /> </a>
                                                        </td>
                                                        <td>@item.TuaDe</td>
                                                        <td>@item.Nam</td>
                                                        <td>
                                                            @(listMenu.SingleOrDefault(x => x.ID == item.IDMucLuc).Ten)
                                                        </td>
                                                        <td>
                                                            @* <a href="/Admin/Image/Index/@item.ID" class="btn btn-sm btn-primary">@(listHinhAnh.Where(x => x.IDDuAn == item.ID).Count()) Hình</a>*@
                                                            @(listHinhAnh.Where(x => x.IDDuAn == item.ID).Count()) Hình
                                                        </td>
                                                        <td>
                                                            <a href="/Admin/Project/Edit/@item.ID" class="btn btn-sm btn-warning">Sửa</a>
                                                            <button data-id="@item.ID" class="btn btn-sm btn-danger btn-delete" type="button" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal">Xóa</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa hình ảnh</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Bạn có muốn xóa hình ảnh này?</div>
            <div class="modal-footer">
                <button class="btn btn-back-hover" type="button" data-bs-dismiss="modal">Quay lại</button>
                <button class="btn btn-danger btn-success-delete" type="button">Đồng ý</button>
            </div>
        </div>
    </div>
</div>


