@model IEnumerable<CHOM.Data.DuAn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var count = 1;
}

@section css{
    <link href="~/Client/dict/css/style.css" rel="stylesheet" />
    <link href="~/Client/dict/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Client/css/Project.css" />
}
@section js{
    <script type="text/javascript" src="~/Client/js/Project.js"></script>
    <script>
        $('.slide-link').on('click',function(){
            $('.hide-ball').addClass("light-content");
        })
    </script>
}

<!-- Content Scroll -->
<div id="content-scroll" @(ViewBag.LoaiPage= 1)>


    <!-- Main -->
    <div id="main">

        <!-- Main Content -->
        <div id="main-content">
            <!-- Showcase Slider Holder -->
            <div id="showcase-carousel-holder">
                <div id="itemsWrapperLinks">
                    <div id="showcase-carousel" class="swiper-container">
                        <div id="itemsWrapper" class="swiper-wrapper webgl-fitthumbs">
                            @foreach(var item in Model)
                            {
                                var link = "/Watch/" + (ViewBag.Menu == 3 ? "Interior" : "Landscape") + "/" + item.ID;
                                <div class="swiper-slide trigger-item" data-count="@count">
                                    <div class="img-mask"> 
                                        <div class="section-image">
                                            <img src="/uploadFiles/@item.HinhGT"
                                             class="item-image grid__item-img" alt="">
                                        </div>
                                        <img src=""
                                         class="grid__item-img grid__item-img--large" alt="">
                                    </div>
                                    <div class="outer content-max-width">
                                        <div class="inner">
                                            <div class="slide-date"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                                <span>@item.Nam</span>
                                            </div>
                                            <div class="slide-title-wrapper"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                                <div class="slide-title trigger-item-link secondary-font"
                                                 data-color="#cf837d" data-firstline="Xem"
                                                 data-secondline="Dự án">
                                                    <span>@item.TuaDe</span>
                                                </div>
                                                <a class="slide-link" data-type="page-transition"
                                               href="@link"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                count = count + 1;
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Showcase Slider Holder -->

            <div class="number-index-project">
                <div style="
                      display: flex;
                      flex-direction: column;
                      text-align: center;
                    ">
                    <div id="display" class="txt-min">1</div>
                    <div class="line-vertical"></div>
                    <div class="total" data-id="@Model.Count()">@Model.Count()</div>
                </div>

        </div>
        <!--/Main Content -->

    </div>
    <!-- Footer -->
    <footer class="hidden">
        <div id="footer-container" class="footer_lo">
            <div id="btnGiam" class="button-wrap left disable-drag swiper-prev">
                <div class="icon-wrap parallax-wrap">
                    <div class="button-icon parallax-element">
                        <i class="fa fa-angle-up"></i>
                    </div>
                </div>
                <div class="button-text sticky left">
                    <span data-hover="PHÍA TRƯỚC">PHÍA TRƯỚC</span>
                </div>
            </div>

            <div id="btnTang" class="button-wrap right disable-drag swiper-next">
                <div class="icon-wrap parallax-wrap">
                    <div class="button-icon parallax-element">
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
                <div class="button-text sticky right">
                    <span data-hover="TIẾP THEO">TIẾP THEO</span>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer -->

</div>
